<footer class="site-footer h-card">
    <data class="u-url" href="/"></data>  
    <div class="wrapper">
        <div class="footer-col-wrapper">
            <div class="footer-col footer-col-1">
                <ul class="contact-list">
                    <li class="p-name">{{ site.title }}</li>
                    <li><a class="u-email" href="mailto:{{site.email}}">{{ site.email }}</a>
                    </li>
                </ul>
            </div>    
            <div class="footer-col footer-col-2">
                <ul class="social-media-list">
                    <li><a class="social-link" href="{{ site.github }}"><svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#github"></use></svg><span>github</span></a></li>
                    <li><a class="social-link" href="{{ "/feed.xml" | relative_url }}"><svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#rss"></use></svg><span>rss</span></a></li>                
                </ul>
            </div>
            <div class="footer-col footer-col-3">
                <p>{{ site.description }}</p>
            </div>
        </div>
    </div>  
</footer>